.AltMLSOverviewWindow .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.AltMLSOverviewWindow {
}

a.disabled {
	color:gray!important;
	font-style: italic;
}