.MLSMainWindow {
	background-color: #EDFCFA;
}

.current_view_button {
	pointer-events: none;
  	cursor: default;
  	text-decoration: none;
  	color:black;
  	border-left:solid 1px brown;
  	border-right:solid 1px brown;
  	border-top:solid 1px brown;
}

.noncurrent_view_button {
	color:gray;
	text-decoration: none;
	border-bottom:solid 1px brown;
}

.mlmenubar-menu-button {
}

.mlmenubar-spacer {
	padding:10px !important;
}

.back-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.back-icon__row {
  height: 8px;
  width: 24px;
  display: flex;
}
.back-icon__elem {
  height: 6px;
  width: 6px;
  margin-right: 2px;
  margin-bottom: 2px;
  background: gray;
  border-radius: 38%;
}
